.hidden {
    display: none;
} 
:root {
    --main-color: #F4F4FD;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0%;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}


a {
    text-decoration: none;
}

ul,
ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}
button {
    cursor: pointer;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.container {
    max-width: 320px;
    margin: 0 auto;
    padding: 0 16px;
}
@media screen and (min-width: 768px) {
    .container {
     max-width: 768px;
     margin: 0 auto;
     padding: 0 16px;
}
}
@media screen and (min-width: 1158px) {
    .container {
     max-width: 1158px;
     padding: 0 15px;
}
}
.page-header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}
.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-list,
.contacts-links {
    display: none;
}
.link-logo {
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}
.header-logo {
    padding: 16px 0;
    display: block;
}
.page-nav .text-logo {
    color: #2E2F42;
}
.burger-btn {
    padding: 0;
    border: none;
    background-color: transparent;
}
.burger-icon {
    display: block;
    fill: #2f2f37;
}
@media screen and (min-width: 768px) {
     .burger-btn {
        display: none;
    }
     .nav-list {
        display: flex;
        align-items: center;
        gap: 40px;
    }
     .header-logo {
        padding: 24px 0;
        margin-right: 120px;
    }
    .nav-list .nav-link {
            display: block;
            padding: 24px 0;
            font-weight: 500;
            font-size: 16px;
            line-height: 1.5;
            color: #2E2F42;
            letter-spacing: 0.02em;
            transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
    
    .nav-link.current {
            position: relative;
        }
    
    .nav-link.current::after {
            content: '';
            width: 100%;
            height: 4px;
            position: absolute;
            left: 0;
            bottom: -1px;
            background-color: #404bbf;
            border-radius: 2px;
        }
      .contacts-links {
        font-style: normal;
        display: flex;
        flex-direction: column;
        gap: 12px;
    }
    .contact-link {
        display: block;
        color: #434455;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
        .nav-list .nav-link:hover,
        .nav-list .nav-link:focus,
        .contacts-links .link:hover,
        .contacts-links .link:focus,
        .nav-link.current {
            color: #404BBF;
    }
      .page-nav {
           display: flex;
            align-items: center;
    }
    }
    @media screen and (min-width: 1158px) {
        .header-logo {
            padding: 24px 0;
            margin-right: 76px;
            }
        .contacts-links {
            flex-direction: row;
            align-items: center;
            gap: 40px;
                }
        .contact-link {
            padding: 24px 0;
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.02em;
        }
    }
    .mobile-menu {
           position: fixed;
           top: 0;
           left: 0;
           width: 100%;
           height: 100%;
           background-color: #fff;

           opacity: 0;
           visibility: hidden;
           pointer-events: none;
          transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
           visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
    .mobile-menu.is-open {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
    }
    .mobile-menu-container {
        position: relative;
        padding-top: 72px;
        padding-bottom: 40px;
        display: flex;
        flex-direction: column;
        height: 100%;
    }
    .mobile-menu-nav {
     margin-bottom: auto;
    }
    .mobile-menu-close {
        position: absolute;
        top: 24px;
        right: 24px;
        

    }
    @media screen and (min-width: 768px) {
       .mobile-menu {
        display: none;
       }
    }