.hidden {
    display: none;
} 
:root {
    --main-color: #F4F4FD;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0%;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}


a {
    text-decoration: none;
}

ul,
ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}
button {
    cursor: pointer;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.container {
    max-width: 320px;
    margin: 0 auto;
    padding: 0 16px;
}
@media screen and (min-width: 768px) {
    .container {
     max-width: 768px;
     margin: 0 auto;
     padding: 0 16px;
}
}
@media screen and (min-width: 1158px) {
    .container {
     max-width: 1158px;
     padding: 0 15px;
}
}
.page-header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}
.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-list,
.contacts-links {
    display: none;
}
.link-logo {
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}
.header-logo {
    padding: 16px 0;
    display: block;
}
.page-nav .text-logo {
    color: #2E2F42;
}
.burger-btn {
    padding: 0;
    border: none;
    background-color: transparent;
}
.burger-icon {
    display: block;
    fill: #2f2f37;
}
@media screen and (min-width: 768px) {
     .burger-btn {
        display: none;
    }
     .nav-list {
        display: flex;
        align-items: center;
        gap: 40px;
    }
     .header-logo {
        padding: 24px 0;
        margin-right: 120px;
    }
    .nav-list .nav-link {
            display: block;
            padding: 24px 0;
            font-weight: 500;
            font-size: 16px;
            line-height: 1.5;
            color: #2E2F42;
            letter-spacing: 0.02em;
            transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
    
    .nav-link.current {
            position: relative;
        }
    
    .nav-link.current::after {
            content: '';
            width: 100%;
            height: 4px;
            position: absolute;
            left: 0;
            bottom: -1px;
            background-color: #404bbf;
            border-radius: 2px;
        }
      .contacts-links {
        font-style: normal;
        display: flex;
        flex-direction: column;
        gap: 12px;
    }
    .contact-link {
        display: block;
        color: #434455;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
        .nav-list .nav-link:hover,
        .nav-list .nav-link:focus,
        .contacts-links .link:hover,
        .contacts-links .link:focus,
        .nav-link.current {
            color: #404BBF;
    }
      .page-nav {
           display: flex;
            align-items: center;
    }
    }
    @media screen and (min-width: 1158px) {
        .header-logo {
            padding: 24px 0;
            margin-right: 76px;
            }
        .contacts-links {
            flex-direction: row;
            align-items: center;
            gap: 40px;
                }
        .contact-link {
            padding: 24px 0;
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.02em;
        }
    }
    .mobile-menu {
           position: fixed;
           top: 0;
           left: 0;
           width: 100%;
           height: 100%;
           background-color: #fff;

           opacity: 0;
           visibility: hidden;
           pointer-events: none;
          transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
           visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
    .mobile-menu.is-open {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
    }
    .mobile-menu-container {
        position: relative;
        padding-top: 72px;
        padding-bottom: 40px;
        display: flex;
        flex-direction: column;
        height: 100%;
    }
    .mobile-menu-nav {
     margin-bottom: auto;
    }
    .mobile-menu-close {
        position: absolute;
        top: 24px;
        right: 24px;
        border-radius: 50%;
        background-color: #e7e9fc;

    }
    .mobile-nav-list {
        display: flex;
            flex-direction: column;
            gap: 40px;
    }
    .mobile-list-links {
      

    }
    .mobile-menu-link {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11111;
        letter-spacing: 0.02em;
        color: #2e2f42;
    }
    .mobile-menu-link.current {
        color: #404BBF;
    }
    .contacts-adress-mobile {
          display: flex;
          flex-direction: column;
          gap: 24px;

    }
    
    .contact-link-mobile {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #434455;
    }
    .contact-link-mobile {

    }
    .nav-wrapper {
        margin-bottom: auto;
    }
    .contacts-wrapper {
        margin-bottom: auto;
    }
    .mobile-social-list {
       display: flex;
       gap: 40px;
       justify-content: space-between;
       flex-shrink: 0;
    }
    .mobile-social-links {
    }
    .mobile-links {
        background-color: #4D5AE5;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
         align-items: center;
    }
    .mobile-icon {
       fill: #f4f4fd;
    }
    .main-page {

    }
    .main-container {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
                url(../images/people-office-mobile.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        text-align: center;
        padding: 72px 52px;
        max-width: 320px;
        margin: 0 auto;
    }
    .main-title {
    margin: 0 auto;
    color: #ffffff;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    margin-bottom: 72px;
    max-width: 216px;
    }
    .main-button {
        min-width: 169px;
        height: 56px;
        margin: 0 auto;
        border-radius: 4px;
        background-color: #4D5AE5;
        color: #FFFFFF;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        cursor: pointer;
        font-family: inherit;
        letter-spacing: 0.04em;
        border: none;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
 @media screen and (min-resolution: 192dpi) {
    .main-container {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office-mobile@2x.jpg);
    }
 }
  @media screen and (min-width: 768px) {
      .mobile-menu {
          display: none;
      }
      .main-container {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url(../images/people-office-tablet.jpg);
        padding: 112px;
        max-width: 768px;
      }
      .main-title {
            font-size: 56px;
            line-height: 1.07;
            max-width: 496px;
            margin-bottom: 36px;
      }
    }
@media screen and (min-width: 1158px) {
        .main-container {
            background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
            url(../images/people-office.jpg);
            padding-top: 188px;
            padding-bottom: 188px;
            max-width: 1440px;  
        }
        .main-title {
            margin-bottom: 48px;
        }    
} 
   .icon {
    display: none;
   }
   .benefits {
    padding: 96px 16px;
   }
   .benefits-container {
    max-width: 288px;
    display: flex;
   }
   .benefits-items-list {
    display: flex;
    flex-wrap: wrap;
    gap: 72px;
   }
   .benefits-items {
    width: 100%;
   }
   .benefits-title {
    margin-bottom: 8px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;

   }
   .about-benefits {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
   }
@media screen and (min-width: 768px) {
    .benefits-container {
        max-width: 736px;
       
    }
   .benefits-items-list {
      display: flex;
      width: 100%;
   }
   .benefits-items {
    flex-basis: calc((100% - 72px) / 2);
   }
   .benefits-title {
    text-align: left;
   }
}
@media screen and (min-width: 1158px) {
    .icon {
        display: flex;
    }
    .benefits-container{
        max-width: 1128px;
    }

   .benefits {
       padding-top: 120px;
       padding-bottom: 120px;
   }
   .benefits-icons {
       background-color: #f4f4fd;
       border: 1px solid #8e8f99;
       border-radius: 4px;
       width: 264px;
       height: 112px;
       margin-bottom: 8px;
       display: flex;
       justify-content: center;
       align-items: center;
   }
   .benefits-items-list {
       gap: 24px;
       flex-wrap: nowrap;
   }
   .benefits-items {
    flex-basis: calc((100% - 72px) / 4)
   }
   .benefits-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
   }
  .about-benefits {
    font-weight: 400;
  }
}
.team {
    background-color: #F4F4FD;
    padding: 96px 0;   
}
.team-container {
    max-width: 320px;
}
.our-team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
    margin-bottom: 72px;
}
.team-cards-item {
    display: flex;
    flex-wrap: wrap;
    gap: 72px;
}
.team-cards-list {
    
    background-color: #FFFFFF;
    width: 264px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    border-radius: 0 0 4px 4px;
}
.team-cards {
    padding-top: 32px;
    padding-bottom: 32px;
}
.team-cards-title {
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 8px;
}
.team-cards-text {
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 8px;
}
.social-list {
    display: flex;
     justify-content: center;
    align-items: center;
    gap: 24px;
}
.social-links {
    width: 40px;
    height: 40px;
}
.social-link {
    background-color: #4D5AE5;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-icon {
    fill: #f4f4fd;
}
@media screen and (min-width: 768px) {
    .team-container {
        max-width: 768px;
        padding-left: 108px;
        padding-right: 108px;

        }
    .team-cards-list {
        flex-basis: calc((100% - 72px) / 2);
    }
    .team-cards-item {
      justify-content: center;
      gap: 24px;
    }
    .team-cards {
        padding-left: 16px;
        padding-right: 16px;
    } 
}
@media screen and (min-width: 1158px) {
    .team-container {
        max-width: 1440px;
    }
    .team-cards-item {
      flex-wrap: nowrap;

    }
}
